{% extends "layout.html" %}

{% block main %}
    <main>
        <section class="login">
            <div class=" interface flex">

                <div class="login_description_container">
                    <div class="login_description">
                        <h1 style="margin-bottom: .5rem;">Bem Vindo!</h1>
                        <p>Adicione a sua conta de administrador. O administrador tem privilégios de alterar o conteúdo do site/estabelecimento como, o logotipo, preços, adicionar funcionários, eliminar etc.</p>
                    </div>
                </div>
                
                <div class="formulary_container">
                    <div class="formulary_container_content section_title">
                        <h1>Cadastro de administrador do sistema</h1>
                        <p>O administrador do sistema é pessoa com privilégios de adicionar, eliminar funcionários, mudar a estrutura do site, atualizar preços e serviços etc.</p>
                        {% with messages = get_flashed_messages()[0] %}
                            {% if messages %}
                                <p style="font-size: smaller; color: rgb(205, 0, 0);">{{messages}}</p>
                            {% endif %}
                        {% endwith %}
                        <form action="{{url_for('new_establishment_sucessfully')}}" method="post">
                            <input class="entry" type="text" name="name" autocomplete="off" placeholder=" Seu nome" required>
                            <!--<input class="entry" type="email" name="email" placeholder="E-mail (Este campo não é obrigatório)">-->
                            <input class="entry" type="tel" name="phone" placeholder="Seu número de telefone" required>
                            <input class="entry" type="password" name="password" placeholder="Senha (no mínimo 6 caracteres)" required minlength="6">
                            <input class="entry" type="password" name="password_confirmation" placeholder="Confirme sua senha" required minlength="6">
                            
                        
                            <input type="submit" value="Finalizar" class="btn">
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}