{% extends "layout.html" %}

{% block main %}
    <main>
        <section class="login">
            <div class=" interface flex">

                <div class="login_description_container">
                    <div class="login_description">
                        <h1 style="margin-bottom: .5rem;">Bem Vindo!</h1>
                        <p>Registe o seu estabelcimento.</p><br>
                    </div>
                </div>
                
                <div class="formulary_container">
                    <div class="formulary_container_content section_title">
                        <h1>Registo</h1>
                        <p>Insira com cuidado abaixo os dados do seu estabelcimento:</p>
                        {% with messages = get_flashed_messages()[0] %}
                            {% if messages %}
                                <p style="font-size: smaller; color: rgb(205, 0, 0);">{{messages}}</p>
                            {% endif %}
                        {% endwith %}
                        <form action="" enctype="multipart/form-data" method="post">
                            <input class="entry" type="text" name="Establishment_name" autocomplete="off" placeholder="Nome do seu estabelecimento" required>
                            <input class="entry" type="text" name="alias" placeholder="O pseudonome do seu estabelecimento">
                            <p>Horas de abertura</p>
                            <input style="width: 40%;" type="time" name="open_hour" required id="idopen_hour">
                            <p>Horas de fechamento</p>
                            <input style="width: 40%;" type="time" name="close_hour" required id="idclose_hour">
                            <input class="entry" type="text" name="open_days" autocomplete="off" placeholder="Dias de funcionamento (Ex: Segunda a Sexta)" required>
                            <input class="entry" type="text" name="burgh" placeholder="Bairro onde encontra-se o estabelecimento">
                            <input class="entry" type="text" name="burgh_description" autocomplete="off" placeholder="Explique o local (Ex: Perto do Millenium Bim)" required>
                            <input class="entry" type="text" name="province" placeholder="provincia">
                            <input class="entry" type="text" name="district" autocomplete="off" placeholder="Distrito" required>
                            <input class="entry" type="tel" name="phone" placeholder="Telefone" required>
                            <!--<input class="entry" type="email" name="email" placeholder="Email (Opcional)">-->
                            <label for="idwelcome_msg" style="color: black;">Escreva uma mensagem de boas vindas</label>
                            <textarea style="width: 90%; height: 5rem; padding: 2px;" name="welcome_msg" id="idwelcome_msg" required placeholder="Ex: No salão CSM, temos o melhor para ti dar. Agora já podes marcar o seu horário online no nosso salão, então não perca tempo, agende agora o seu horário e esperamos por ti!"></textarea>
                        
                            <input type="submit" value="Seguinte" class="btn">
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}