<!Doctype html>
<html lang="pt-pt">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta rel="flaticon" href>
        <link rel="stylesheet" href="../static/css/styles.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <script src="../static/js/js.js" defer></script>
        <title>Salão e barbearia csm</title>
    </head>
    <body>
        <header>
            <div class="navbar interface flex">
                <div class="logo">
                    <a href="../static/images/logo.png" target="_blank"><img src="../static/images/logo.png" alt="logo csm"></a>
                </div>
                <nav class="desktop_nav nav">
                    <ul>
                        <li><a href="#" class="nav_link">Home</a></li>
                        <li><a href="#services" class="nav_link">Nossos Serviços</a></li>
                        <li><a href="#packages" class="nav_link">Promoções</a></li>
                        <li><a href="#scheduling" class="nav_link">Agendamento</a></li>
                        <li><a href="#contact" class="nav_link">Localize-nos</a></li>
                        <li><a href="{{url_for('schedules')}}" class="nav_link">{{suas_agendas}}</a></li>
                    </ul>
                </nav> <!--Desktop menu end-->

                <div>
                    <a href="/login" class="nav_link">{{user}}</a>
                    <a href="{{url_for('logout')}}" style="color: rgb(192, 18, 18); font-size: 1rem;">{{logout}}</a>
                </div> 
                    
                <div class="menu-symbol" id="menu-symbol">
                    <i class="bi bi-list"></i>
                </div>

                <div class="mobile-menu" id="mobile-menu">
                    <div class="close-menu-button">
                        <i class="bi bi-x-lg"></i>
                    </div>
                    <nav>
                        <ul>
                            <li><a href="#" class="nav_link">Home</a></li>
                            <li><a href="#services" class="nav_link">Nossos Serviços</a></li>
                            <li><a href="#packages" class="nav_link">Promoções</a></li>
                            <li><a href="#scheduling" class="nav_link">Agendamento</a></li>
                            <li><a href="#contact" class="nav_link">Localize-nos</a></li>
                            <li><a href="{{url_for('schedules')}}" class="nav_link">{{suas_agendas}}</a></li>

                        </ul>
                    </nav>
                </div> <!--mobile menu end-->
                <!--<div class="overlay-box"></div>-->

            </div> <!--navbar end-->
        </header>
        <main>
            <section class="hero">
                <div class="interface">

                    <div class="flex">
                        <div class="hero_image">
                            <img src="../static/images/female-4899174_1280-removebg-preview.png" alt="Homem">
                        </div>
                        <div class="hero_content section_title">
                            <h1 >Deixe-nos cuidar <span class="modifier_span">da sua beleza!</span></h1>
                            <p style="margin-bottom: .25rem;">No Salão e Barbeara CSM, encontras os melhores serviços de beleza e cosméticos.</p>
                            <p>Então, não perca tempo, agende o seu horário de forma cômoda agora:</p>
                            <a href="{{ url_for('scheduling') }}" class="btn">Agende seu atendimento</a>
                        </div>

                    </div>
                </div>
            </section> <!--hero end-->
            <section class="services" id="services"> <!--Services start-->
                <div class="interface">
                    <div class="section_title">
                        <h1>Serviços <span>Prestados></span></h1>
                    </div>
                    <p style="margin-bottom: 1.1rem;">Teu cabelo se quebra? ou não cresci? Qualquer que seja o teu problema nos resolvemos</p>
                    <div class="services_list">
                        <div class="box">
                            <div class="inner">
                                <img src="../static/icons/hair-wash.png" alt="">
                                <p>lavagem de cabelo</p>
                            </div>
                        </div> <!--service 1-->
                        <div class="box">
                            <div class="inner">
                                <img src="../static/icons/hair-cut.png" alt="">
                                <p>Corte de cabelo</p>
                            </div>
                        </div> <!-- end service 2-->
                        <div class="box">
                            <div class="inner">
                                <img src="../static/icons/healthy-hair.png" alt="">
                                <p>Tratamento de cabelo</p>
                            </div>
                        </div>  <!-- end service 3-->
                        <div class="box">
                            <div class="inner">
                                <img src="../static/icons/braiding.png" alt="">
                                <p>Tranças diversas e<br>muito mais</p>
                            </div>
                        </div>  <!-- end service 4-->
                    </div>
                </div>
            </section> <!--Services end-->
            <section class="packages" id="packages">
                <div class="interface">
                    <div class="section_title">
                        <h1>Pacotes<span>Promocionais</span></h1>
                    </div>
                    <div class="packages_list">
                        <div class="package">
                            <div class="package_name">
                                <h3>Básico</h3>
                            </div>
                            <div class="package_benefit">
                                <i class="bi bi-check"></i>
                                <p>corte de cabelo</p>
                            </div>
                            <div class="package_benefit">
                                <i class="bi bi-x"></i>
                                <p class="unavailable">lavagem</p>
                            </div>
                                
                            <div class="package_benefit">
                                <i class="bi bi-x"></i>
                                <p class="unavailable">alimentação de cabelo</p>
                            </div>

                            <div class="package_benefit">
                                <i class="bi bi-x"></i>
                                <p class="unavailable">trança</p>
                            </div>
                            
                            <div class="package_benefit">
                                <i class="bi bi-x"></i>
                                <p class="unavailable">Mais...</p>
                            </div>
                        </div> <!--package 1 end-->
                        <div class="package">
                            <div class="package_name">
                                <h3>Elite</h3>
                            </div>
                            <div class="package_benefit">
                                <i class="bi bi-check"></i>
                                <p>corte de cabelo</p>
                            </div>
                            <div class="package_benefit">
                                <i class="bi bi-check"></i>
                                <p>lavagem</p>
                            </div>
                                
                            <div class="package_benefit">
                                <i class="bi bi-x"></i>
                                <p class="unavailable">alimentação de cabelo</p>
                            </div>

                            <div class="package_benefit">
                                <i class="bi bi-x"></i>
                                <p class="unavailable">trança</p>
                            </div>
                            
                            <div class="package_benefit">
                                <i class="bi bi-x"></i>
                                <p class="unavailable">Mais</p>
                            </div>
                        </div> <!--package 2 end-->

                        <div class="package">
                            <div class="package_name">
                                <h3>Diamante</h3>
                            </div>
                            <div class="package_benefit">
                                <i class="bi bi-check"></i>
                                <p>corte de cabelo</p>
                            </div>
                            <div class="package_benefit">
                                <i class="bi bi-check"></i>
                                <p>lavagem</p>
                            </div>
                                
                            <div class="package_benefit">
                                <i class="bi bi-check"></i>
                                <p>alimentação de cabelo</p>
                            </div>

                            <div class="package_benefit">
                                <i class="bi bi-check"></i>
                                <p>trança</p>
                            </div>
                            
                            <div class="package_benefit">
                                <i class="bi bi-check"></i>
                                <p>Mais</p>
                            </div>
                        </div> <!--package 3 end-->

                        
                           
                    </div>
                </div>
            </section> <!--packages end-->
            <section class="scheduling" id="scheduling">
                <div class="interface">
                    <div class="section_title">
                        <h1>Agende seu horário<span>para atendimento</span></h1>
                    </div>
                    <div class="scheduling_box">
                        <p>Através do nosso sistema informático sofisticado, agora os nossos clientes podem marcar/escolher o dia e hora em que desejam receber o seu atendimento e ainda mais indicar qual serviço desejam, bastando apenas criar conta na nossa plataforma.</p>
                        <a href="{{ url_for('scheduling') }}" class="btn">Marque agora</a>
                    </div>
                </div>
            </section> <!--scheduling end-->
        </main>
        <footer class="footer" id="contact">
            <address class="footer_list interface">
                <div class="footer_data">
                    <h2>Nosso endereço</h2>
                    <p>Em frente da entrada da pista (campo)<br> Lichinga-Chiuala</p>
                </div>
                <div class="footer_data">
                    <h2>Nosso Horário</h2>
                    <p>Todos os Dias</p>
                    <p>(Domingo á Sabado)<br>das 07:00 as 20:00</p>
                </div>
                <div class="footer_data">
                    <h2>Contactos</h2>
                    <p><a href="tel:+258842244136">+258 842244136</a></p>
                    <a href="mailto:onamicanosail01@gmail.com?subject=Feedback from csm salon site">onamicanosail01@gmail.com</a>
                    <div class="footer_social_btn">
                        <a href=""><i class="bi bi-facebook social_icon"></i></a>
                    </div>
                </div>
            </address>
            <div class="copy">
                <p>Ciências Sem Mistérios - CSM</p>
                <span>&copy Todos os direitos reservados <br>2024</span>
            </div>
        </footer>
    </body>
    
</html>