<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta rel="shortcut icon" href="../static/icons/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="../static/css/styles.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <script src="../static/js/js.js" defer></script>
        
    <title>Moz Agendas</title>
</head>
<body>

    <header>
        <div class="navbar interface flex">
            <div class="logo">
                <a href="../static/images/logo.png" target="_blank"><img src="../static/images/logo.png" alt="logo csm"></a>
            </div>
            <nav class="desktop_nav nav">
                <ul>
                    <li><a href="{{url_for('index')}}" class="nav_link">Home</a></li>
                    <li><a href="/#services" class="nav_link">Nossos Serviços</a></li>
                    <li><a href="/#packages" class="nav_link">Promoções</a></li>
                    <li><a href="/#scheduling" class="nav_link">Agendamento</a></li>
                    <li><a href="#contact" class="nav_link">Localize-nos</a></li>
                </ul>
            </nav> <!--Desktop menu end-->

            <div class="menu-symbol" id="menu-symbol">
                <i class="bi bi-list"></i>
            </div>

            <div class="mobile-menu" id="mobile-menu">
                <div class="close-menu-button">
                    <i class="bi bi-x-lg"></i>
                </div>
                <nav>
                    <ul>
                        <li><a href="/" class="nav_link">Home</a></li>
                        <li><a href="/#services" class="nav_link">Nossos Serviços</a></li>
                        <li><a href="/#packages" class="nav_link">Promoções</a></li>
                        <li><a href="/#scheduling" class="nav_link">Agendamento</a></li>
                    </ul>
                </nav>
            </div> <!--mobile menu end-->
            <!--<div class="overlay-box"></div>-->

        </div> <!--navbar end-->
    </header>


    {% block main %}{% endblock %}
    

    <footer class="footer login_footer" id="contact">
        <div class="copy">
            <p>Moz Agendas</p>
            <span>&copy Todos os direitos reservados <br>2024</span>
        </div>
    </footer>
</body>
</html>