{% extends "layout.html" %}

{% block main %}
    <main>
        <section class="login">
            <div class=" interface flex">

                <div class="login_description_container">
                    <div class="login_description">
                        <h1>Bem Vindo!</h1>
                        <p>Faca gestao da empresa.</p>
                    </div>
                </div>
                
                <div class="formulary_container">
                    <div class="formulary_container_content section_title">
                        <h1>Administração</h1>
                        
                        {% with messages = get_flashed_messages()[0] %}
                            {% if messages %}
                                <p style="font-size: smaller; color: rgb(205, 0, 0);">{{ messages }}</p>
                            {% endif %}
                        {% endwith %}
                        <form action="" method="post">
                            <input class="entry" type="tel" name="phone" placeholder="Seu numero de telefone" required>
                            <input class="entry" type="password" name="password" placeholder="Senha" required>
                            <input type="submit" value="Entrar" class="btn">
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}