<!Doctype html>
<html lang="pt-pt">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="../../static/icons/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="../../static/css/styles.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <script src="../../static/js/js.js" defer></script>

        <meta name="description" content="Salão e barbearia csm em Lichinga, vem que a gente cuida da sua beleza">
        <meta name="keywords" content="Salão, barbearia, Salão e barbearia csm, Lichinga, Salão unissexo, csm, Ciências sem mistérios, cienciassemmisterios.com, salaoebarbeariacsm.com, Namicano, Oscar Namicano, salaoebarbeariacsm.onrender.com">
        <title>Salão e barbearia csm</title>
    </head>
    <body>
        <header>
            <div class="navbar interface flex">
                <div class="logo">
                    <a href="../../static/images/logo.png" target="_blank"><img src="../static/images/logo.png" alt="logo csm"></a>
                </div>
                <nav class="desktop_nav nav">
                    <ul>
                        <li><a href="#" class="nav_link">Home</a></li>
                        <li><a href="#services" class="nav_link">Nossos Serviços</a></li>
                        <li><a href="#packages" class="nav_link">Promoções</a></li>
                        <li><a href="#scheduling" class="nav_link">Agendamento</a></li>
                        <li><a href="#contact" class="nav_link">Localize-nos</a></li>
                        <li><a href="{{url_for('schedules')}}" class="nav_link">{{suas_agendas}}</a></li>
                    </ul>
                </nav> <!--Desktop menu end-->

                <div>
                    <a href="/login" class="nav_link">{{user}}</a>
                    <a href="{{url_for('logout')}}" style="color: rgb(192, 18, 18); font-size: 1rem;">{{logout}}</a>
                </div> 
                    
                <div class="menu-symbol" id="menu-symbol">
                    <i class="bi bi-list"></i>
                </div>

                <div class="mobile-menu" id="mobile-menu">
                    <div class="close-menu-button">
                        <i class="bi bi-x-lg"></i>
                    </div>
                    <nav>
                        <ul>
                            <li><a href="#" class="nav_link">Home</a></li>
                            <li><a href="#services" class="nav_link">Nossos Serviços</a></li>
                            <li><a href="#packages" class="nav_link">Promoções</a></li>
                            <li><a href="#scheduling" class="nav_link">Agendamento</a></li>
                            <li><a href="#contact" class="nav_link">Localize-nos</a></li>
                            <li><a href="{{url_for('schedules')}}" class="nav_link">{{suas_agendas}}</a></li>

                        </ul>
                    </nav>
                </div> <!--mobile menu end-->
                <!--<div class="overlay-box"></div>-->

            </div> <!--navbar end-->
        </header>
    <main style="height: 120vh;" style="margin-top: 1rem;">
        <section class="login">
            <div class=" interface flex">

                <div class="login_description_container">
                    <div class="login_description">
                        <h1>Advertência!</h1>
                        <p>Senhor administrador do sistema, ao registrar este funcionário certifica que este vai de acordo com os padrões ideais de membro funcionário da CSM? Se sim, então introduza com cuidado os dados deste funcionário. Se não, opte por cancelar agora</p>
                    </div>
                </div>
                
                <div class="formulary_container">
                    <div class="formulary_container_content section_title">
                        <h1>Cadastro</h1>
                        <p>Insira os dados do novo funcionário</p>
                        {% with messages = get_flashed_messages()[0] %}
                            {% if messages %}
                                <p style="font-size: smaller; color: rgb(205, 0, 0);">{{messages}}</p>
                            {% endif %}
                        {% endwith %}
                        <form action="" method="post">
                            <input class="entry" type="text" name="name" autocomplete="off" placeholder="Nome" required>
                            <input class="entry" type="email" name="email" placeholder="E-mail (Opcional)">
                            <input class="entry" type="password" name="password" placeholder="Senha" required>
                            <input class="entry" type="tel" name="phone" placeholder="Numero de telefone" required minlength="9" maxlength="13">
                            <input class="entry" type="text" name="document_type" placeholder="Tipo de documento" required>
                            <input class="entry" type="text" name="document_number" placeholder="Numero de documento" required>

                            <label for=""></label>
                            <input class="entry" type="date" name="birth_date" id="idbirth_date" placeholder="Data de nascimento" required max="2020-01-01">
                            
                            <input class="entry" type="text" name="birth_place" placeholder="Local de nascimento" required>
                            <input class="entry" type="text" name="functionalite" placeholder="Funcao na empresa" required>
                            <input class="entry" type="text" name="contrat" placeholder="Tipo de contrato (integral/parcial)" required>
                            

                            <input type="submit" value="cadastrar" class="btn">
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>